@{
    ViewBag.Title = "Home Page";
}

<div class="hero" style="background-image: url('/images/hero_background.jpg');">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Rent a bike</strong> is within your finger tips.</h1>
                    </div>
                </div>

                <a class="btn btn-primary py-3" href="/Home/Listing">Book Bike Now</a>

            </div>
        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <h2 class="section-heading"><strong>How it works?</strong></h2>
        <p class="mb-5">Easy steps to get you started</p>

        <div class="row mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>1</span>
                    <div class="step-inner">
                        <span class="number text-primary">01.</span>
                        <h3>Select a Bike</h3>
                        <p>Choose the model and size that's right for you from a variety of city bikes, mountain bikes or electric bikes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>2</span>
                    <div class="step-inner">
                        <span class="number text-primary">02.</span>
                        <h3>Fill up form</h3>
                        <p>Provide information such as desired rental period, personal contact details and payment details.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>3</span>
                    <div class="step-inner">
                        <span class="number text-primary">03.</span>
                        <h3>Payment</h3>
                        <p>Complete the booking and pay online by bank card or other accepted payment methods to complete the process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center order-lg-2">
                <div class="img-wrap-1 mb-5">
                    <img src="/images/bike.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 ml-auto order-lg-1">
                <h3 class="mb-4 section-heading"><strong>You can easily avail our promo for renting bikes.</strong></h3>
                <p class="mb-5">Discover our exciting bike rental deals! Whether you want to explore the city or hit the trails, we have the perfect two-wheeled companion for your adventure. Take advantage of our limited-time offers and experience the freedom and thrill of cycling at an unbeatable price.</p>

                <p><a href="#" class="btn btn-primary">Meet them now</a></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong>Bikes Listings</strong></h2>
                <p class="mb-5">Choose the desired bike.</p>
            </div>
        </div>


        <div class="row">
            @foreach (var bike in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">

                    <div class="listing d-block  align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img src="@bike.PhotoUrl" alt="@bike.Name" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@bike.Name</h3>
                            <div class="rent-price">
                                <strong>$@bike.PricePerDay</strong><span class="mx-1">/</span>day
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Type:</span>
                                    <span class="number">@bike.Type</span>
                                </div>
                            </div>
                            <div>
                                <a href="@Url.Action("Create", "Reservations", new { id = bike.BikeId })" class="btn btn-primary btn-sm">Rent now</a>
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong>Testimonials</strong></h2>
                <p class="mb-5">Contributors to this project.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Experienced and dedicated back-end developer with a meticulous and structured approach to web application development. She is responsible for the server-side part of the RentBike project, managing databases, application logic and integration with various external services."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/Ariom.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Golban Artiom</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Genius, billionaire, playboy, philanthropist"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/Dorian.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Levitchi Dorian</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"passionate and highly creative front-end developer with extensive experience in developing modern and efficient user interfaces. He is responsible for creating the visual appearance and interactivity of the RentBike platform, ensuring that users have a pleasant and intuitive experience when navigating the site."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/Valeriu.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Corcodel Valeriu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-md-0">
                <h2 class="mb-0 text-white">What are you waiting for? Embrace the Freedom of Two Wheels!</h2>
                <p class="mb-0 opa-7">Discover the joy of cycling with our top-quality bike rentals for all adventures.</p>
            </div>
            <div class="col-lg-5 text-md-right">
                <a href="#" class="btn btn-primary btn-white">Rent Bike now</a>
            </div>
        </div>
    </div>
</div>